.git
.gitignore
.idea
.vscode
.diff_tmp
node_modules
**/node_modules
**/target
target
**/.mvn
**/.gradle
**/build
**/dist
**/coverage
**/.angular
**/*.iml
**/.DS_Store
docs
monitoring
k8s
README.md
Jenkinsfile
dev.ps1
dev.sh
START.ps1
START.sh
prometheus.yml
docker-compose.yml

