{
  "semi": true,
  "singleQuote": true,
  "useTabs": false,
  "printWidth": 120,
  "tabWidth": 2,
  "bracketSpacing": true,
  "trailingComma": "all",
  "plugins": ["prettier-plugin-java"],
  "overrides": [
    {
      "files": "*.java",
      "options": {
        "tabWidth": 4
      }
    },
    {
      "files": "*.html",
      "options": {
        "parser": "angular"
      }
    },
    {
      "files": "*.md",
      "options": {
        "proseWrap": "preserve"
      }
    }
  ]
}
