<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="serviceName" source="spring.application.name" defaultValue="audit-log-service"/>

    <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <fieldName>timestamp</fieldName>
                    <pattern>yyyy-MM-dd'T'HH:mm:ss.SSSXXX</pattern>
                    <timeZone>UTC</timeZone>
                </timestamp>
                <pattern>
                    <pattern>{"serviceName":"${serviceName}"}</pattern>
                </pattern>
                <logLevel>
                    <fieldName>level</fieldName>
                </logLevel>
                <threadName>
                    <fieldName>thread</fieldName>
                </threadName>
                <loggerName>
                    <fieldName>logger</fieldName>
                </loggerName>
                <message>
                    <fieldName>message</fieldName>
                </message>
                <stackTrace>
                    <fieldName>exception</fieldName>
                </stackTrace>
                <mdc>
                    <includeMdcKeyName>traceId</includeMdcKeyName>
                    <includeMdcKeyName>spanId</includeMdcKeyName>
                    <includeMdcKeyName>parentSpanId</includeMdcKeyName>
                    <includeMdcKeyName>correlationId</includeMdcKeyName>
                    <includeMdcKeyName>causationId</includeMdcKeyName>
                    <includeMdcKeyName>tenantId</includeMdcKeyName>
                    <includeMdcKeyName>userId</includeMdcKeyName>
                    <includeMdcKeyName>orderId</includeMdcKeyName>
                    <includeMdcKeyName>productId</includeMdcKeyName>
                    <includeMdcKeyName>paymentId</includeMdcKeyName>
                    <includeMdcKeyName>eventId</includeMdcKeyName>
                    <includeMdcKeyName>sagaId</includeMdcKeyName>
                    <includeMdcKeyName>notificationId</includeMdcKeyName>
                    <includeMdcKeyName>aggregateId</includeMdcKeyName>
                </mdc>
            </providers>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="JSON_CONSOLE"/>
    </root>
</configuration>
